*.dll
*.exe
*.pdb
*.dll.config
*.vshost.exe
*.vshost.exe.config
*.nupkg
*.snupkg
*.user
*.suo
bin/
obj/
TestResults/
*.log
*.tmp
*.temp
*.bak
*.cache
*.ide
*.old
packages/
.nuget/
project.lock.json
project.fragment.lock.json
project.json~
.vs/
.vscode/
.idea/
*.publishsettings
publish/
*.targets
*.props
.DS_Store
Thumbs.db
desktop.ini
